body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    min-width: 250px;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input:not([type=checkbox]),
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span#ratingvalue {
    padding: 0 15px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[readonly] {
    cursor: text;
}

input[type=range] {
    width: 100%;
    padding: 0;
    margin-top: 15px;
}

img#logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 250px;
}
